.about{
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
    position: relative;
}

.about .header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.about .quotes {
    width: 100%;
    height: auto;
    border: 4px solid grey;
    padding: 20px;
    overflow: hidden;
}

.about .quotes img{
    float: Right;
}



.about .quotes span{
    display: block;
    font-size: 50px;
    /* text-transform: capitalize;  */
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;
}





